header {
  margin-bottom: 25px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  position: relative;
  display: flex;
  gap: 18px;
}

.menu {
  position: relative;
}
