* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  max-width: 1280px;
  margin: 0 auto;
}

aside {
  position: fixed;
  top: 100px;
  right: 40%;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  left: 60%;
}
